.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: 5rem;
  left: 0;
  right: 0;
  top: 3rem;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.5s;

  @include respond(lg) {
    padding: 0;
  }

  &__unpin {
    margin-top: -20rem;
  }

  &__pin {
    top: 0;
    min-height: 5.6rem;
    box-shadow: 0px 15px 10px -15px rgba(#111, .3);
    background-color: $color-white;
    border-radius: 20px;
    padding: 20px 10px
  }
}
